<!doctype HTML>
<HTML>
	<head>
		<meta charset="UTF-8">
		<title>Eyeglasses Donation</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<center>
		{{{body}}}
		</center>
	</body>
</HTML>