<!doctype HTML>
<HTML>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" 
			http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Eyeglasses Donation</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<center>
		<div id="grayDIV">
			<p class="leftAlign"><a href="/">Home</a></p><br>
			<img src="logo2.png">
			<br><br>
			<i>"Providing Eyeglasses to Those in Need"</i>
		</div>
		{{{body}}}
		</center>
	</body>
</HTML>