<div id="input">
	<h3>Please select the facility closest to you</h3>
	<form action="/pickShippingLocation" method="POST">
		<input type="radio" name="location" value="boise" checked> Boise, ID<br>
		<input type="radio" name="location" value="tulsa"> Tulsa, OK<br>
		<input type="radio" name="location" value="plainfield"> Plainfield, IN<br><br>
		<input type = "submit" value="Submit">
	</form>
</div>