<div>
	<br>
	<img src="logo.png">
	<br><br>
	<i>"Providing Eyeglasses to Those in Need"</i>
</div>


<div id="input">
	<h3>Select An Option Below</h3>
	<a href="/newUser">Register New User</a>
	<br>
	<a href="/newDropoff">Register New Drop Off Location</a>
</div>


<script src="scripts.js"></script>