<div id="input">
	<h3>Enter the information below to register your Drop off Location</h3>
	<form action="/newDropoffSubmit" method="POST">
		<table id="newDonorLocationTable">
			<tr>
				<td class="rightAlign">Owner Name:</td>
				<td class="leftAlign"><input type="text" name="ownerName" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Business Name:</td>
				<td class="leftAlign"><input type="text" name="businessName" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Street Address:</td>
				<td class="leftAlign"><input type="text" name="streetAddress" required></td>
			</tr>
			<tr>
				<td class="rightAlign">City:</td>
				<td class="leftAlign"><input type="text" name="city" required></td>
			</tr>
			<tr>
				<td class="rightAlign">State:</td>
				<td class="leftAlign"><input type="text" name="state" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Postal Code:</td>
				<td class="leftAlign"><input type="number" name="postalCode" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Country:</td>
				<td class="leftAlign"><input type="text" name="country" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Phone Number:</td>
				<td class="leftAlign"><input type="number" name="phoneNumber" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Email Address:</td>
				<td class="leftAlign"><input type="text" name="email" required></td>
			</tr>
		</table>
		<input type = "submit" value="Submit">
	</form>
</div>

