<div>
	<p class="leftAlign"><a href="/">Home</a></p><br>
	<img src="logo.png">
	<br><br>
	<i>"Providing Eyeglasses to Those in Need"</i>
</div>


<div id="input">
	<h3>Enter the information below to register your Drop off Location</h3>
	<form action="/newUserSubmit" method="post">
		<table id="newUserTable">
			<tr>
				<td class="rightAlign">First Name:</td>
				<td class="leftAlign"><input type="text" id="firstName" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Last Name:</td>
				<td class="leftAlign"><input type="text" id="lastName" required></td>
			</tr>
			<tr>
				<td class="rightAlign">User Name:</td>
				<td class="leftAlign"><input type="text" id="userName" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Password:</td>
				<td class="leftAlign"><input type="password" id="password"></td>
			<tr>
				<td class="rightAlign">Email Address:</td>
				<td class="leftAlign"><input type="text" id="email"></td>
			</tr>
			<tr>
				<td class="rightAlign"><input type="submit" id="newUser" name="newUser" value="Register"></td>
				<td class="leftAlign"><input type="reset" id="resetForm" value="Clear Form"></td>
			</tr>
		</table>
	</form>
</div>

