<div id="input">
	<h3>Please Follow the instructions below:</h3>
	<p align="left">
		1. Ensure each pair of glasses that has an attached barcode is securely attached to it's barcode.<br><br>
		2. Pack all glasses securely into package.<br><br>
		3. Print out the shipping label below.<br><br>
		4. Secure shipping label to package where clearly visible.<br><br>
		5. Either drop off at any UPS shipping facility or arrange pickup from UPS.
	</p>
	</div>
	<br>
	<img src='{{label}}' height=700>