<div id="input">
	<h3>Select An Option Below</h3>
	<a href="/newUser">Register New User</a>
	<br>
	<a href="/newDropoff">Register New Drop Off Location</a>
	<br>
	<a href="/verifyTable">Verify Drop Off Location</a>
	<br>
	<a href="/findALocation">Pick A Location </a>	
</div>