<div>
	<p class="leftAlign"><a href="/">Home</a></p><br>
	<img src="logo.png">
	<br><br>
	<i>"Providing Eyeglasses to Those in Need"</i>
</div>


<div id="input">
	<h3>Address Verified!</h3>
    <a href="/verifyTable">Go back to the table</a>
</div>

